Time in India: 
<%= Clock.hour %> : <%= Clock.minutes %> :<%= Clock.seconds %>
<br/>
<br/>
<b>Clocks List:<b/>
<br/>
<div>
  <table border="0">
  <% @clock.each do |c| %>
  <tr>
  <td> <%= Clock.display(c.minutes_difference) %> <%= link_to c.name, clock_path(c) %></td>
  <td> <%= link_to 'Edit', edit_clock_path(c) %></td>
  <td> <%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
  </table>
</div>
<br/>
<div>
  <span> Add a clock: </span>
  <%= link_to 'New Clock', new_clock_path %>
</div>


